{
    "env": {
        "es": {
            "plugins": []
        },
        "commonjs": {
            "presets": ["es2015"],
            "plugins": [
                "add-module-exports"
            ]
        }
    }
}
